# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Build outputs
dist/
build/

# Coverage directory used by testing tools like Jest
coverage/

# Temporary files
tmp/
temp/

# Package-lock files
package-lock.json
yarn.lock

# Debugging files
*.tsbuildinfo

#output.css
output.css