<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-full h-screen sm:h-20 sm:w-full bg-slate-50 p-3 ">
        <div class="w-full h-16  sm:h-20 sm:w-full p-2 flex flex-col sm:flex-row sm:justify-between sm:items-center">
            <img class="h-9 w-28 mb-4 sm:mb-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/512px-Airbnb_Logo_B%C3%A9lo.svg.png" alt="">
            <h3 class="font-medium text-lg" >Experience</h3>
            <h3 class="font-medium text-lg" >Stays</h3>
            <div class="flex flex-row">
                <h3 class="font-medium mr-4" >Air bnb your home</h3>
                <img class=" h-4 w-4 sm:h-8 sm:w-10 rounded-lg sm:rounded-2xl" src="https://i.pinimg.com/564x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg" alt="">
            </div>
        </div>
        <!--  -->
        <div class="w-full h-12 sm:h-20 flex justify-center ml-24 sm:ml-0 items-center ">
            <div class="sm:relative w-1/2 h-2/3">
                <input class="rounded-full w-full h-full pl-12 outline-none drop-shadow-lg bg-blend-soft-light bg-white" type="text" placeholder="Search">
                <img class="sm:absolute h-5 w-5 sm:h-10 sm:w-10 sm:top-1/2 right-2 sm:right-4 sm:transform sm:-translate-y-1/2 rounded-full drop-shadow-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8q_Xp7TSLWTPoTc1VkkE2cpT3t17Ku0CICw&s" alt="Search">
            </div> 
        </div>
        <!--  -->
        <div class="w-full min-h-full bg-slate-50 border-2 mt-5 sm:mt-0" >
            <nav class="flex flex-row flex-wrap sm:flex-row items-center mt-5 ml-8">
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 ml-2 mr-16" src="https://a0.muscache.com/pictures/ed8b9e47-609b-44c2-9768-33e6a22eccb2.jpg" alt="">top cities</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/im/pictures/mediaverse/category_icon/original/3e5243c8-4d15-4c6b-97e3-7ba2bb7bb880.png" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/7630c83f-96a8-4232-9a10-0398661e2e6f.jpg" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/1d477273-96d6-4819-9bda-9085f809dad3.jpg" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/78ba8486-6ba6-4a43-a56d-f556189193da.jpg" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/ee9e2a40-ffac-4db9-9080-b351efc3cfc4.jpg" alt="">icons</li>
                <li class=" sm:font-medium text-xs sm:text-sm"><img class=" w-4 h-4 sm:h-7 sm:w-7 mr-16" src="https://a0.muscache.com/pictures/3271df99-f071-4ecf-9128-eb2d2b1f50f0.jpg" alt="">icons</li>

            </nav>
            <!--  -->
            <div class="mt-8 ml-8 flex flex-row flex-wrap gap-x-6 gap-y-6" >
                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/miso/Hosting-631154213461762756/original/9e1dc69d-c64f-4052-8dad-6f089fa04b6e.jpeg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/e3e5e3cf-9273-411b-a121-e8d6f2a6349d.jpg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/hosting/Hosting-1126839634398201811/original/53511e53-aa22-43e0-b5f6-c2e38a98f30e.jpeg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/hosting/Hosting-1126839634398201811/original/53511e53-aa22-43e0-b5f6-c2e38a98f30e.jpeg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/74103492/69b4479d_original.jpg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/ml/photo_enhancement/pictures/miso/Hosting-675821330698620822/original/dbf89431-9f71-40a8-abbc-e88df1b22ea0.jpeg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>

                <div class="flex flex-col  flex-shrink-0 relative mb-2">
                    <a class="bg-slate-200 rounded-xl absolute top-2 left-2 px-3 py-1" href="">
                        Gesut Favorite
                    </a>
                    <img class="h-80 w-72 rounded-lg" src="https://a0.muscache.com/im/pictures/miso/Hosting-625256929923327394/original/e48ac6f3-16b0-4cef-be29-e4f5c80b9b7e.jpeg?im_w=720" alt="">
                    <h2 class="font-semibold text-xl" >Paris Farnce</h2>
                    <span class="" >1500km away</span>
                    <span>Oct 28th-Nov 19th</span>
                    <h2 class="font-semibold text-base" >1500$ nigth</h2>
                </div>
                
            </div>
            
        </div>
    </div>
</body>
</html>